@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}